/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: smile-student
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/*
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
*/
/* .iq-grid tr:nth-child(odd) { background-color: #DDD; } */

/* -----------------------------------------
   smile-student
----------------------------------------- */
.rightanswer {
	color: #5da423;
}

.wronganswer {
	color: #c60f13;
}

/* Borrow these from the Foundation website docs, useful attributes for setting grid display */
.row.display .column,.row.display .columns,.block-grid.display li {
	background: none repeat scroll 0 0 #E7E7E7;
	border: 1px solid #DDDDDD;
	font-size: 11px;
	padding-bottom: 6px;
	padding-top: 6px;
	text-indent: 3px;
}

.row.display .row {
	margin-top: 6px;
}

.row.display .row .columns {
	background: none repeat scroll 0 0 #DDDDDD;
}

.row.display .row .columns .row .columns {
	background: none repeat scroll 0 0 #CCCCCC;
}

.bar {
	height: 18px;
	background: green;
}

.panel.smile-branded {
	background-image:url('../images/smile_grey_small.png');
	background-repeat: no-repeat;
	opacity:0.4;
	filter:alpha(opacity=40);
}

ul.smile-links {
    display: inline-block;
    margin: 0;
    white-space:nowrap;
}

ul.zurb-links li {
    display: block;
    float: left;
    font-size: 0.77778rem;
    font-weight: 700;
    margin-left: 6px;
    text-transform: uppercase;
}


ul.smile-links li a {
    color: #666666;
    padding: 3px 6px;
}

ul.smile-links li a:hover {
    color: #777777;
}
p.copyright {
    color: #666666;
    font-size: 0.66667rem;
    margin: 6px 0 0;
}

/* attribution: Borrow styles from Foundation 4 Docs */
.smile-links li {
	display: inline-block;
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    line-height: 1;
    margin-left: 0;
}

.smile-links {
	height: 10px;
    margin-left: 0;
    width: 60px;
}

.smile-links img {
	margin-top: -4px;
    width: 60px;
}

.smile-links li a {
	color: #727272 !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    padding: 5px !important;
    text-transform: uppercase;
}

.smile-links ul.pillars {
    list-style: none outside none;
}

a.smile-logo {
    padding: 25px 0 0;
}

a.smile-logo {
    background: url("../images/smile_grey_48x23.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    color: #858585;
    display: inline-block;
    font-size: 0.88889rem;
    font-weight: normal;
    padding: 25px 0 0;
    width: 47px;
}

.thumbsup-rating input[type="radio"] {
    display:none;
}

.thumbsup-rating input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}


..thumbsup-rating input[type=radio] + label>img {
  border: 1px dashed #444;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

.thumbsup-rating input[type=radio]:checked + label>img {
  transform: 
    rotateZ(-10deg) 
    rotateX(10deg);
}

.thumbsup-rating label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

.thumbsup-rating input[type="radio"]:checked + label {
    background-color:#bbb;
}