/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: smile-student
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/* -----------------------------------------
   smile-student
----------------------------------------- */
.rightanswer {
	color: #5da423;
}

.wronganswer {
	color: #c60f13;
}

/* Borrow these from the Foundation website docs, useful attributes for setting grid display */
.row.display .column,.row.display .columns,.block-grid.display li {
	background: none repeat scroll 0 0 #E7E7E7;
	border: 1px solid #DDDDDD;
	font-size: 11px;
	padding-bottom: 6px;
	padding-top: 6px;
	text-indent: 3px;
}

.row.display .row {
	margin-top: 6px;
}

.row.display .row .columns {
	background: none repeat scroll 0 0 #DDDDDD;
}

.row.display .row .columns .row .columns {
	background: none repeat scroll 0 0 #CCCCCC;
}

.bar {
	height: 18px;
	background: green;
}